.controlItem {
  height: 28px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    width: 28%;
    text-align: end;
    &:first-child {
      text-align: start;
    }
    &:last-child {
      width: 16%;
    }
  }
}