.featureCard {
  background-color: #fff;
  margin-bottom: 20px;

  @media screen and (min-width: 679px){
    margin-bottom: 0;
  }

  &__header {
    height: 48px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: #cecece;
    &--ok {
      box-shadow: 0px 15px 43px -10px rgba(6,214,160,0.44);
      background-color: #06D6A0;
    }
    &--alert {
      box-shadow: 0px 15px 43px -10px rgba(255,209,102,0.44);
      background-color: #ffd166;
    }
    &--error {
      box-shadow: 0px 15px 43px -10px rgba(239,71,111,0.44);
      background-color: #ef476f;
    }
    h4 {
      color: #fff;
      margin: 0;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 600;
      letter-spacing: 0.06em
    }
  }
}